name: DORA lead time for changes

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: DORA lead time for changes
      uses: DeveloperMetrics/lead-time-for-changes@v1.2.24
          
